.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.input {
  display: flex;
  width: 319px;
  padding: 12px 16px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #fafafa;
}
.title {
  margin-bottom: 18px;
  margin-left: 12px;
}
